header {
	background-color: grey;
	height: 100px;
	border-bottom: 20px solid white;
}
header h1 {
	padding-top: 30px;
	padding-left: 10px;
	color: white;
}
section:after {
	clear: both;
	content: "";
	display: block;	
}
aside {
	width: 25%;
	float: left;
	padding-left: 10px;
}
li {
	list-style-type: none;
	background-color: skyblue;
	color: white;
	border-bottom: 10px solid white;
	padding: 10px;
}
main {
	width: 70%;
	float: right;
}
main h1{
	font-size: 40px;
}
footer {
	background-color: grey;
	height: 100px;
}
footer h4 {
	padding-top: 35px;
	padding-left: 10px;
	color: white;
}
